*{box-sizing: border-box;}
/*html{font-size: 62.5%;}*/
.login-container{
    max-width:34.3rem;
    margin:auto;
    padding :0;

}
@font-face{
 font-family :PlayfairDisplay Black;
 src: url(../font/Playfair_Display/static/PlayfairDisplay-Black.ttf);
}
@font-face{
    font-family :PlayfairDisplay BlackItalic;
    src: url(../font/Playfair_Display/static/PlayfairDisplay-BlackItalic.ttf);
   }
   @font-face{
    font-family :Open-Sans Bold;
    src: url(../font/Open_Sans/OpenSans-Bold.ttf);
   }
@font-face{
    font-family :Open-Sans Regular;
    src: url(../font/Open_Sans/OpenSans-Regular.ttf);
   }
   @font-face{
    font-family :Open-Sans ;
    src: url(../font/Open_Sans/OpenSans-Regular.ttf);
   }
.container-2020{
    width: 1180px;
    max-width: 100%;
    padding :0 10px;
    margin:0 auto;

}.container-2020-1{
    width: 1180px;
     min-width:1180px;
    padding :0 10px;
    margin:0 auto;
}
div {padding:0;}
h1{margin :0;}
.wid-3{width:30%;}
.wid-7{width:70%;}
.mr-auto{margin: 0 auto;}
.m-l-5{margin-left:0.31rem;}
.m-l-12{margin-left:0.75rem;}
.m-l-25{margin-left:1.56rem;}
.m-r-12{margin-right:0.75rem;}
.m-r-32{margin-right:2rem;}
.m-t-10{margin-top:0.625rem;}
.m-t-30{margin-top:1.875rem;}
.m-b-10{margin-bottom:0.93rem; }
.m-b-25{margin-bottom:1.56rem;}
.m-b-45{margin-bottom:2.81rem;}
.p-l-12{padding-left:0.75rem;}
.p-ud-5{padding:8px 0;}
.img-full{
    max-width:100%;
    height:100%;
}
.bor-ra50{
    border-radius:50%;
}
.bor-ra04{border-radius:4px;}
.bor-bot-gr{
    border-bottom:1px solid #ccc;
}
#formLogin input::placeholder,.input-coupon input::placeholder{
    padding-left:0.31rem;
}
.form-login,.form-body-button{
    background-color: #c8aa7b;
    border:none;
}
.form-content{
    width:60%;
    margin:0 auto;
}
.d-f-ct{
    display:flex;
    justify-content:center;
    align-items: center;
}
.dp-ct{
    display:flex;
    align-items: center;
}.dp-space{
    display:flex;
    justify-content:space-between;
}
.dp-fl-col{
    display:flex;
    /* flex-direction:row; */
}
.form-remember-forgot a, .form-forgot a
{
    text-decoration: none;
    color: #242424;
}
.form-login-btn-rgst a{
    text-decoration: none;
    color :#c8aa7b;
}
.form-remember >a:hover,
.form-login-btn-rgst a:hover{list-style :none;}
.form-remember{
    display:flex;
   justify-content: space-between;
}
.dp-f-start{
    display:flex;
    justify-content:flex-start;}
 .dp-f-end{
    display:flex;
   justify-content:flex-end;}

.txt32{
    font-family :PlayfairDisplay Black;
    font-size:2rem;
    color:#242424;
    font-weight :800;
} 
.txt31{
    font-family :PlayfairDisplay Black;
    font-size:2rem;
    color:#c8aa7b;
    font-weight :800;
} 
.txt30{
    font-family :PlayfairDisplay;
    line-height:80px; 
    font-size:2.62rem;
    font-weight: 800;
    color:#242424;
  
}
.txt29{
    font-family :PlayfairDisplay;
    font-weight:800;
    font-size:2.25rem;
    color:#242424;
}
.txt26{
    font-family :PlayfairDisplay;
    font-weight:700;
    font-size:2.625rem;
    color:#242424;
} 
.txt25{
    font-family :PlayfairDisplay;
    font-weight:700;
    font-size:2.625rem;
    color:white;
}
.txt24{
    font-size:1.685rem;
    color:#242424;
    font-weight :550;
}
.txt22{
    font-family :PlayfairDisplay Black;
    font-size:1.685rem;
    color:#242424;
    font-weight :800;
}
.txt23{
    font-family :PlayfairDisplay;
    font-size:1.685rem;
    color:white;
    font-weight :550;
}
.txt16{
    font-family :PlayfairDisplay;
    font-size:1rem;
    color:#242424;
}
.txtSan30{
    font-family:Open-Sans Bold;
    font-size:1.187rem;
    font-weight:800;
    color:#242424;
}
.txtSan29{
    font-family:Open-Sans;
    font-size:1.125rem;
   font-weight:600;
    color:white;
}
.txtSan28{
    font-family:Open-Sans;
    font-size:1.5rem;
    font-weight:800;
    color:#242424;
}

.txtSan27{
    font-family:Open-Sans;
    font-size:1.125rem;
    font-weight:400;
    color:#242424;
}


.txtSan25{
    font-family:Open-Sans;
    font-size:1.125rem;
   font-weight:600;
    color:#c8aa7b;
}
.txtSan26{
    font-family:Open-Sans;
    font-size:1.125rem;
   
    color:#b4b4b4;
}
.txtSan24{
    font-family:Open-Sans;
    font-size:1.125rem;
   
    color:white;
}
.txtSan21{
    font-family:Open-Sans;
    font-size:1.125rem;
    font-weight: 600;
    color:white;
}
.txtSan18{
    font-family:Open-Sans Regular;
    font-size:1.125rem;
    font-weight:400;
    color:#242424;
}
.clearfix:after{
    clear:both;
    display: block;
    content :"";
}
.w-100{
    width:100%;
}
.w-90{width:90%;}
.w-60{
    width:60%;
}


/* form-title */
.form-title{
/* font-size: 4rem; */
padding:1.56rem 0 1.56rem 0;

}
/* form-body */
.form-body{
    padding: 1.875rem 0 1.875rem 0;
    
    display :flex;
    flex-direction:column;
}
/* Error Css */
a{text-decoration:none;
    color:#c8aa7b;
}
a:hover{
    text-decoration:none;
    list-style:none;
    color:#c8aa7b;
}
.m-b-10{margin-bottom:0.93rem; }
.error-text-404{
    font-family :PlayfairDisplay;
    line-height:12.5rem;
    font-size:12.5rem;
    font-weight: 600;
    color:#c8aa7b;
   
 

}
.fl-center{
    display:flex;
    justify-content: center;
}
.error-text-title{
    font-family :PlayfairDisplay;
    line-height:80px; 
    font-size:2.625rem;
    font-weight: 400;
    color:#242424;
  
}
.error-text{
    font-family :OpenSans;
    font-size:1.625rem;
}

.error-image{
    width: 34.3rem;
    height:21.25rem;
    margin:10.625rem auto;
}

@media only screen and (max-width: 37.5em) {
 .error-text-title{
     font-size:1.375rem;
 }
 .error-text-404{
    font-size:7.5rem;
 }
 .error-text{
    font-size:0.875rem;
 }
 .error-image{ 
    width: 18.75rem;
 }
 .container-2020{width:798px;}
}

/* End Error Css */

/* ================================= */

/* Cart Hover Css */

.cart-hover-container{
    max-width:30rem;
    margin :0 auto;
    display:flex;
    padding:0 0.19rem;
}
.cart-hover-container ul{
    width:100%;
}

.cart-hover-container ul{list-style-type:none;}
.cart-hover-row{
    width:100%;
    padding: 5px;
}

.cart-hv-img{
    width:3.75rem;
    height:3.75rem;
}
.cart-top{
    display :flex;
    align-items: center;
    justify-content: space-between;
    padding :10px 6px;
    border-bottom:1px solid #ccc;
    
}.cart-box-btn{
    display :flex;
    
    justify-content: center;   
}
.cart-box-button,.cart-box-button1{
    padding:15px;
}
.cart-box-button1 a,.filter-button a{
    background-color: #c8aa7b;
}
.cart-box-button1 a,.filter-button a{color:white;}
.cart-box-button a,.cart-box-button1 a{
    padding:10px;
    border:1px solid #c8aa7b;
}


.cart-sub{
    font-family :PlayfairDisplay;
    font-weight:800;
    font-size:2.25rem;
    color:#242424;
}
.hover-cart-total-price{
    font-family :PlayfairDisplay;
    font-weight:800;
    font-size:2.25rem;
    color:#c8aa7b;
}
.cart-image{
    min-width:5rem;
    height:7.5rem;
}
.cart-image img{
    height:90%;
    border-radius:50%;
}
/* .cart-qtt{float:right;} */
.p-mprice{
    text-decoration: line-through;
    font-family:Open-Sans;
    font-size:1.125rem;
   
    color:#b4b4b4;
}
    /* END CART HOVER */

    /* CART VIEW */
    .new-cart{
      font-size:14px;
   overflow-x: scroll;

    }
    .news-cart-items-row{
        display :flex;
        flex-wrap: wrap;
        border-top: 1px solid #ccc;
        padding: 10px ;
    }
    
    .new-cart-infoImg{
        width:90px;
        height:90px;
        background-color: #ccc;
        border-radius:50%;
    }
    .new-cart-info{
        
        width:35%;
            
    }
    .minus,.add,.quantity-change{
        display: block;
        width: 32px;
        height: 32px;
        text-align: center;
        color: #333;
        border: 1px #ccc solid;
        border-right: 0;
        cursor: pointer;
        transition: 0.1s linear;     
        line-height: 30px;
        font-size: 18px;
    }
    .add{border-right:1px #ccc solid;}
    .new-cart-quantity input {
        text-transform:uppercase;

    } .new-cart-quantity a:hover{
        color: #333;
    }
    .new-cart-quantity input:focus,
    .input-coupon input:focus,
    .product-ip-search input{
     outline:none;
    }
    .cart-total-price{
        background-color:#f9f6f2;
        display:flex;
       justify-content:space-between;
    }
    .cart-total-price-cp{
        width:40%;
    }
    .input-coupon{
        width:60%;
    }
    .input-coupon input{
       margin:1rem;
       padding:0.5rem;
        font-size:0.875rem;
       width:100%;
       border:1px solid #ccc;
       border-radius:4px;
    }.coupon-btn{
        background-color:#c8aa7b;
        padding:0.43rem ;
    }
    .view-cart-total-price{ margin-right:1.875rem;}
    .view-cart-table{
        border :1px solid #ccc;
        display:flex;
       flex-direction: column;
    }
    .view-cart-table:last-child{
        border-bottom :none;
       
    }
    .view-cart-table-row {
        width:100%;
        border-bottom:1px solid #ccc;
    }
    .view-cart-table-left{
        border-right:1px solid #ccc;
        padding:2rem;
        letter-spacing:1px;
       
        
    }
   .view-cart-table-right{
       display:flex;
       align-items:center;
       padding-left:1.25rem;
   }
    /* END CART VIEW */

    /* Product content Css */
    .product-content{ 
        display:inline-block;
        padding:20px 0;
        width:100%;
    }
    .showProduct-left{ 
        float:left;
        width:280px;
        padding:0 10px;
    }
    .showProduct-right{ 
        margin-left: 290px;
        width: calc(100% - 280px);
        padding-right:0.93rem;
    }
    .product-ip-search { 
        position:relative;
    }
    .product-ip-search input{
        padding:7px;
        border:1px solid #ccc;
        border-radius:4px;
    }
    .product-ip-search-icon{
        position:absolute;
        margin-left:-16px;
        margin-top:9px;
        display:flex;
        align-items: center;;
    }
    .line-bottom{
        border-bottom:1.5px solid #ebebeb;
        position: relative;
    }
    .line-bottom1{
        border-bottom:1.5px solid #ebebeb;
      
    }
    .line-bottom:after{ 
        content:"";
        position: absolute;
       top:4px;
        width:100%;  
        border-bottom:1.5px solid #ebebeb;
    }
    .productList-row{
        display:flex;
        justify-content:space-between;
        border-bottom:1px solid #ccc;
        padding:10px;
    }
    .productList-row:last-child{
        border:none;
    }
    /* Filter Price */
    .price-input-wrap input,
    .price-input-wrap select,
    .price-input-wrap textarea{
    background-color: #fff;
    border: 2px solid #dfe9f4;
    height: 80px;
    font-weight: 600;
    color: #0f172b;
    font-size: 18px;
    padding: 0 45px 0 30px;
    border-radius: 5px;
    width: 100%;
    line-height: 80px;
    }
    .price-input-wrap input{
        font-size: 16px;
        color: #666565;
        height: 60px;
        line-height: 60px;
    }
    
     .slider-range {
      padding-left: 10px;
      padding-right: 10px;
    }
    
    .slider-range .ui-widget-header {
      background: #fea116;
    }
    
    .slider-range .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
      height: 8px;
      border-color: #fea116;
    }
    
    .slider-range span.ui-slider-handle.ui-state-default.ui-corner-all {
      border: 1px solid #fea116;
      top: -3px;
      border-radius: 50%;
      background: #fea116;
    }
    
    .slider-range span.ui-slider-handle.ui-state-default.ui-corner-all:focus,.price-ammount input:focus {
      outline: none;
    }
    
    /* .price-ammount {
      margin-top: 30px;
    } */
    .price-ammount input:first-child{
      padding-left:16px;
      width:30%;
    }
    .price-ammount input {
      font-size: 12px;
     padding:0  ;
      width:40%;
      border:none;
      font-weight:400;
     
    } 
    .filter-button a{padding :6px 26px;}
     
        .price-ammount span{
           font-size:1.125rem; 
           padding-right:0.25rem;   
           
            }
    .price-ammount{
        margin-left:0.125rem;
        width:100%;
    }
    .product-sidebar{  
         display :flex;
        align-items: center;
        justify-content: space-around;
        padding :10px 6px;
        border-bottom:1px solid #ccc;
        }
    .product-sidebar-image{
        width:3.75rem;
        height:3.75rem;
        border-radius:50%;

    }
    .product-sidebar-image img{
        height:100%;
    }
    /* End Filter Price */
    .showProduct-content-top-selected{
        width:3.75rem;
        padding:0.4375rem;
    }
  
    select {
        background: transparent;
        position: relative;
    }
  
     .showProduct-content-top-selected:focus{
        border:none;
    }
    .showProduct-content-top-icon{
        width:3.75rem;
        height:3.75rem;
    }
    .showProduct-content-rows{
        display: flex;
        flex-wrap:wrap;
    }
    .showProduct-content-col{
        width:33.3%;
        padding:25px;

    }
    .showProduct-content-col:hover{

        box-shadow: -1px 3px 2px 1px #ccc;
    }
    .showProduct-content-col-img{
        width:100%;
       
        height:auto;
    }
    .showProduct-content-pagination{
       margin:3px;
       width:2.5rem;
       height:2.5rem;
        border:1px solid #c8aa7b;
    }
    .showProduct-content-pagination a:focus{
        color:white;
        background-color: #c8aa7b;
    
    }
    .showProduct-content-pagination a:hover{
        color: #242424;
        
    
    }
    .showProduct-content-pagination:focus-within{
          background-color: #c8aa7b; 
    }
     

    /* End Product content Css */
  